.header {
    display: flex;
    padding: 10px 20px;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    justify-content: space-between;
  }
  
  .nav {
    display: flex;
    list-style: none;
    margin-left: auto;
  }
  
  .nav ul {
    display: flex;
    justify-content: flex-end;
    padding: 1em 2em;
    margin: 0;
    gap: 1.5rem;
  }
  
  .nav ul li {
    display: inline;
  }
  
  .nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    padding: 5%
  }
  
  .hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    transition: transform 0.3s ease-in-out;
  }
  
  .nav-open .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  
  .nav-open .bar:nth-child(2) {
    opacity: 0;
  }
  
  .nav-open .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  
  @media (max-width: 768px) {
    .nav {
      display: none;
      flex-direction: column;
      background-color: #333;
      position: absolute;
      top: 50px;
      right: 20px;
      width: 200px;
      padding: 10px;
      border-radius: 5px;
    }
  
    .nav-open {
      display: flex;
    }
  
    .nav ul {
      flex-direction: column;
      gap: 10px;
    }
  
    .hamburger {
      display: flex;
    }
  }