.hero{
  flex-grow: 1;
  padding-bottom: 50px;
}

.hero-image {
  max-width: auto;
  height: auto;
  display: block;
}


.button-container {
  display: flex;
  gap: 20px;              /* Creates space between the buttons */
  justify-content: center; /* Ensures buttons are centered */
  margin-top: 20px;
}

.cta-button {
  background-color: #ff7f50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cta-button:hover {
  background-color: #ff5733;
}