.hero{
  height: 100dvh;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('yogahero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  position: relative;
}


.button-container {
  display: flex;
  gap: 20px;              /* Creates space between the buttons */
  justify-content: center; /* Ensures buttons are centered */
  margin-top: 20px;
}

.cta-button {
  background-color: #ff7f50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cta-button:hover {
  background-color: #ff5733;
}

@media (max-width: 768px) {
  .hero {
    height: 60vh;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .hero {
    height: 80vh;
}
}